/* обнуление */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0; 
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul,
ol,
li {
   list-style: none; 
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
html,
body {
   height: 100%;
   line-height: 1;

}
body {
   height: 100%;
   line-height: 1;
   font-size: 14px;
   color: #252B42;
   font-weight: 500;
   font-family: Montserrat;
   background: #131313;
}
/*----------------------*/
.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
._container {
   max-width: 1046px;
   padding: 0px 15px;
   margin: 0 auto;
   box-sizing: content-box;
}
._ibg{
   position: relative;
}
._ibg img{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
/*=======================================*/
.header {
   position: relative;
   z-index: 50;
}
.header__container {
   display: flex;
   min-height: 59px;
   align-items: center;
}
.header__logo {
   font-family: 'Caveat';
   font-weight: 400;
   font-size: 30px;
   line-height: calc(38/ 30* 100%);
   align-items: center;
   text-transform: uppercase;
   color:chartreuse;
   display: inline-block;
}
.header__kard {
   font-family: 'Montserrat';
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   align-items: center;
   color: #FFFFFF;
   display: inline-block;
   margin-left: 15px;
}
.header__menu {
  display: block;
  top: 0;
  left: 0;
  flex: 1 1 auto;
}
.menu {
}
.menu__list {
   display: flex;
   justify-content: right;
}
.menu__item {
}
.menu__item:not(:last-child) {
   margin: 0px 21px 0px 0px;
}
.menu__link {
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 13px;
   line-height: 16px;
   align-items: center;
   text-align: right;
   color: #FFFFFF;
}
/*=======================================*/
.main{
   display: flex;
   background: #131313;

}
.main__container {
   background-image: url(/Стена.png);
}
.main__title {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 900;
   font-size: 30px;
   line-height: 37px;
   margin: 90px 0px 30px 0px;
   color: #FFFFFF;
   
}
table {
   width: 100%;
}
tr {
   width: 100px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 13px;
   line-height: 16px;
   align-items: center;
   text-transform: uppercase;
   color: #727272;
}

td{
   height: 53px;
   width: 1000px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   align-items: center;
   border: solid 1px #fff;
   color: #FFFFFF;
   padding-left: 15px;

}
.main__button {
   display: block;
   align-items: center;
   width: 100%;
   text-align: center;
}
.number {
   font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}